<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <form>
        <h1>添加边框</h1>
        用户名:<input name="username" v-model="username">
        <br>
        密码:<input name="password" v-model="password">
        <br>
        <input type="button" value="注册" @click="reg()">
        <br>
        <input type="button" value="登陆" @click="login()">
        <br>
        <input type="button" value="查询" @click="query()">
    </form>
    {{message}}
    <br>
    <a href="list1.html">上一步</a>
    <br>
    <a href="list3.html">添加表头</a>
    <br>
    <table  border="8">
        <tr></tr>
        <tr v-for="line in list">
            <td v-for="col in line">{{col}}</td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script>

let app=new Vue({
  el:'#app',
  data:{
    username:"",
    password:"",
    list:{},
    message:"",
  },
  methods:{
    reg(){
      jQuery.get('/user/reg?username='+this.username+'&password='+this.password).then(res=>{
        this.message='注册'+res;
      });
    },
    login(){
      jQuery.get('/user/login?username='+this.username+'&password='+this.password).then(res=>{
        this.message='登陆'+res;
      });
    },
    query() {
      jQuery.get('/user/findAll').then(res => {
        this.list = JSON.parse(res);
      });
    },
  },
  created(){
    this.query();
  }
});

</script>
</body>
</html>